@import './variables';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans serif;
  overflow: hidden;
}

::selection {
  background-color: $blue;
}

body::-webkit-scrollbar {
  width: 1.38rem;
}

body::-webkit-scrollbar-track {
  background-color: #2d3436;
}

body::-webkit-scrollbar-thumb {
  background-color: $blue;
  border-radius: 2rem;
  border: #2d3436 3px solid;
}
