@import './mixins';
@import './variables';

.home {
  min-height: 95vh;
  background-color: #111;

  &__icon {
    color: $white !important;
    font-size: 6rem !important;
    margin-bottom: 3rem;
  }
  &__content {
    padding-top: 10rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    & > h1 {
      color: $white;
      font-size: 8rem;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;

      @include respond(phone) {
        margin: auto;
        text-align: center;
        font-size: 6rem;
      }

      @include respond(small-phone) {
        margin: auto;
        text-align: center;
        font-size: 4rem;
      }
    }

    & > a {
      text-decoration: none !important;
    }
  }
  &__button {
    font-size: 1.5rem !important;
    text-transform: capitalize !important;
    margin-top: 2.5rem !important;
  }
}
