@import './mixins';
@import './variables';

.navbar {
  padding: 2rem 4rem;
  max-width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logoIcon {
    font-size: 3.5rem !important;
    cursor: pointer;
    color: $white !important;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    & > li {
      font-size: 1.5rem;
      color: $white;
    }
    & > li:first-of-type {
      margin-right: 2.5rem;
    }
  }
}
