@import './mixins';
@import './variables';

.todo {
  color: #ddd;
  width: 20%;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
  background: $blue;
  padding: 1rem;
  border-radius: 999px;

  & h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  & button:first-of-type {
    margin-right: 1rem;
    transform: translateX(0.5rem);
  }
  & button:last-of-type {
    transform: translateX(0.5rem);
  }

  @include respond(phone) {
    width: 100%;
  }
}

.modal {
  & h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  & input {
    margin-bottom: 2.5rem;
    padding: 1.5rem;
    border-radius: 999px;
    border: 2px solid #111;
    font-size: 15px;
    font-family: inherit;
    width: 50%;

    &:focus {
      outline: none;
    }
  }
  & button {
    background-color: #111;
    font-size: 13.5px !important;
    color: #fff;
    text-transform: capitalize !important;
    &:hover {
      background-color: darken(#111, 5) !important;
    }
  }
}
